<!DOCTYPE html>
<html>
<head>
  <title>RoboJS</title>
   <%= stylesheet_link_tag    'application', media: 'all' %>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Sarpanch' rel='stylesheet' type='text/css'>
   <%= javascript_include_tag 'application' => true %>
   <%= csrf_meta_tags %>
</head>

<body class="splash-body-background">
  <header class="splash-header box">
    <h1 class="splash-h1">Robo.JS</h1>
  </header>

  <div class="splash-container">
    <%= link_to login_path, class: "login-path-link" do %>
      <%= image_tag "robot-shadow3.png", class: "robot-welcome" %>
    <% end %>
  </div>

</body>
</html>
