<div class="sessions-form">
   <div class="sign-up-form">
    <h3>Sign Up</h3>
    <%= @error %>
    <%= form_for :user, url: users_path, class: "login-lines" do |f| %>
      <%= f.label :username, "Username:", class: "user-input-label"%><br>
      <%= f.text_field :username, class: "user-login-field" %><br>
      <%= f.label :password, "Password:", class: "user-input-label"%><br>
      <%= f.password_field :password, class: "user-login-field" %><br>
      <%= f.label :password_confirmation, "Confirm your password:", class: "user-input-label"%><br>
      <%= f.password_field :password_confirmation, class: "user-login-field" %><br>
      <%= f.submit "Sign Up", :class => 'submit-button' %>
    <% end %>
  </div>

 <div class="login-form">
    <h3> Log In </h3>
    <!-- <%= @error %> -->
    <% @errors.full_messages.each do |message| %>
  <%= message %>
<%end%>
    <%= form_for :session, url: create_path, class: "login-lines" do |f| %>
      <%= f.label :username, "Username:", class: "user-input-label"%><br>
      <%= f.text_field :username, class: "user-login-field" %><br>
      <%= f.label :password, "Password:", class: "user-input-label"%><br>
      <%= f.password_field :password, class: "user-login-field" %><br>
      <%= f.submit "Log In", :class => 'submit-button' %>
    <% end %>
  </div>
</div>
