<div class="sessions-form">
   <div class="sign-up-form">
    <h3>Sign Up</h3>

    <%= form_for :user, url: users_path, class: "login-lines" do |f| %>
      <%= f.label :username, "Username:", class: "user-input-label"%><br>
      <% if @new_user_errors %>
        <ul class="failure login-errors">
          <% @new_user_errors[:username].each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <%= f.text_field :username, class: "user-login-field" %><br>
      <%= f.label :password, "Password:", class: "user-input-label"%><br>
      <% if @new_user_errors %>
        <ul class="failure login-errors">
          <% @new_user_errors[:password].each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <%= f.password_field :password, class: "user-login-field" %><br>
      <%= f.label :password_confirmation, "Confirm your password:", class: "user-input-label"%><br>
        <% if @new_user_errors %>
          <ul class="failure login-errors">
            <% @new_user_errors[:password_confirmation].each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
      <%= f.password_field :password_confirmation, class: "user-login-field" %><br>
      <%= f.submit "Sign Up", :class => 'submit-button' %>
    <% end %>
  </div>

 <div class="login-form">
    <h3>Log In</h3>
    <ul class="failure login-errors">
      <li><%= @errors %></li>
    </ul>
    <%= form_for :session, url: create_path, class: "login-lines" do |f| %>
      <%= f.label :username, "Username:", class: "user-input-label"%><br>
      <%= f.text_field :username, class: "user-login-field" %><br>
      <%= f.label :password, "Password:", class: "user-input-label"%><br>
      <%= f.password_field :password, class: "user-login-field" %><br>
      <%= f.submit "Log In", :class => 'submit-button' %>
    <% end %>
  </div>
</div>
