<div class="success">
  <%= success_message %>
</div>
<div class="failure">
  <%= failure_message %>
</div>

<%= form_for game, url: challenge_game_path(game, challenge_id: challenge.id, id: game.id), controller: :games, method: "put" do |f| %>
  <%= f.text_area :status_string, rows: 10, cols: 40 %><br>
  <%= f.submit "Test your code!", class: "game-console-button" %>
<% end %>
<!-- <button type="button", class="reset-robot-button">Reset</button> -->

<a href="#" class="hint-link">Stumped?</a>
<div class="hint"><%= raw(challenge.hint) %></div>


<a href="" class="reset-robot-button">Reset</a>


