
<div class="title"><%=@challenge.title%></div>
<div class="description"><%= @challenge.description %></div>
<%= @message if @message %>
<div class="console">
  <%= form_for "Type JS commands here", challenge_game_path(@challenge, @game) do |f|%>
    <%= f.text_area %>
    <%= f.submit, "test your code!" %>
  <% end %>
</div>
<%  %>
