
<div class="title"><%=@challenge.title%></div>
<div class="description"><%= @challenge.description %></div>
<%= @message if @message %>
<div class="console">
  <%= form_for @game, url: challenge_game_path(@challenge, @game), controller: :games, method: "put" do |f|%>
    <% f.label :status_string %>
    <%= f.text_area :status_string %>
    <%= f.submit "test your code!" %>
  <% end %>
  <div class="success"></div>
</div>

